<section class="hero is-medium home_top is-light">
  <div class="hero-body" align="center">
    <div class="container">
      <h1 class="title">
        인프런에서 가치를 높이세요.
      </h1>
      <div class="field has-addons has-addons-centered search_courses">
        <div class="control main_search_container">
          <input class="input is-large" type="text" placeholder="배우고 싶은 지식을 검색해 보세요." align="center">
        </div>
        <div class="control">
          <a class="button is-link is-large main_search_btn">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
      <h2 class="subtitle">
        배우고 싶은 기술이 있다면, 무엇이든 어디에서든
      </h2>
    </div>
  </div>
</section>

<%= render 'categories/index' %>

<section class="hero is-medium is-bold">
  <div class="hero-body introduce">
    <div class="container">
      <div class="columns is-centered is-mobile">
        <div class="column is-9-tablet">
          <h1>우리는 성장 기회의<br class="is-hidden-tablet"> 평등을 추구합니다.</h1>
          <p>경제적, 시간적 제약없는 양질의 교육으로<br>누구에게나 성장 기회를
            균등하게 주는 것! 그것이 우리의 목표입니다.<br>입문부터 현업에서 활용 가능한 최고의 지식들을 학습해 보세요.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<% unless controller.mobile_device? %>
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-mobile">
          <div class="column is-half">
            <div class="introduce-content">
              <h3>입문자도 비전공자도 쉽게 배울 수 있는 입문 강좌들</h3>
              <p><br>인프런에선 누구나 쉽게 시작할 수 있습니다. 아무것도 모르는 비전공자도 인프런에선 나만의 서비스를 만들 수 있는 기술을 익힐 수 있습니다.<br><br></p>
            </div>

            <div class="introduce-content">
              <h3>입문자도 비전공자도 쉽게 배울 수 있는 입문 강좌들</h3>
              <p><br>인프런에선 누구나 쉽게 시작할 수 있습니다. 아무것도 모르는 비전공자도 인프런에선 나만의 서비스를 만들 수 있는 기술을 익힐 수 있습니다.<br><br></p>
            </div>

            <br><br>
            <div class="columns is-multiline is-mobile introduce-content">
              <div class="column is-half">
                <div class="columns is-mobile">
                  <i class="column is-narrow fas fa-4x fa-user-graduate"></i>
                  <span class="column label">총 수강생<span class="column value">100 명</span></span>
                </div>

                <div class="columns is-mobile">
                  <i class="column is-narrow fas fa-4x fa-file-code"></i>
                  <span class="column label">총 수강생<span class="column value">100 명</span></span>
                </div>
              </div>

              <div class="column is-half">
                <div class="columns is-mobile">
                  <i class="column is-narrow fas fa-4x fa-users"></i>
                  <span class="column label">총 수강생<span class="column value">101 명</span></span>
                </div>

                <div class="columns is-mobile">
                  <i class="column is-narrow fas fa-4x fa-piggy-bank"></i>
                  <span class="column label">총 수강생<span class="column value">100 명</span></span>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="columns is-multiline is-mobile introduce-content">
              <div class="column is-half">
                <div class="card course">
                  <a class="course_card_front" href="/course/기본적인-머신러닝-딥러닝-강좌">
                    <div class="card-image">
                      <figure class="image is_thumbnail">
                        <img src="https://cdn.inflearn.com/wp-content/uploads/machinelearning1.jpg" alt="모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="course_title">
                        모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌
                      </div>
                      <div class="course_meta">
                        <div class="rating">
                          <div class="rating_star">

                          </div>
                        </div>
                        <div class="price has-text-right is_float_right">무료</div>
                        <div class="student_num">13744명</div>
                        <div class="instructor has-text-right is_float_right">Sung Kim</div>
                      </div>
                    </div>
                  </a>
                </div>





                <div class="card course">
                  <a class="course_card_front" href="/course/기본적인-머신러닝-딥러닝-강좌">
                    <div class="card-image">
                      <figure class="image is_thumbnail">
                        <img src="https://cdn.inflearn.com/wp-content/uploads/machinelearning1.jpg" alt="모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="course_title">
                        모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌
                      </div>
                      <div class="course_meta">
                        <div class="rating">
                          <div class="rating_star">

                          </div>
                        </div>
                        <div class="price has-text-right is_float_right">무료</div>
                        <div class="student_num">13744명</div>
                        <div class="instructor has-text-right is_float_right">Sung Kim</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="column is-half">
                <div class="card course">
                  <a class="course_card_front" href="/course/기본적인-머신러닝-딥러닝-강좌">
                    <div class="card-image">
                      <figure class="image is_thumbnail">
                        <img src="https://cdn.inflearn.com/wp-content/uploads/machinelearning1.jpg" alt="모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="course_title">
                        모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌
                      </div>
                      <div class="course_meta">
                        <div class="rating">
                          <div class="rating_star">

                          </div>
                        </div>
                        <div class="price has-text-right is_float_right">무료</div>
                        <div class="student_num">13744명</div>
                        <div class="instructor has-text-right is_float_right">Sung Kim</div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="card course">
                  <a class="course_card_front" href="/course/기본적인-머신러닝-딥러닝-강좌">
                    <div class="card-image">
                      <figure class="image is_thumbnail">
                        <img src="https://cdn.inflearn.com/wp-content/uploads/machinelearning1.jpg" alt="모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="course_title">
                        모두를 위한 딥러닝 - 기본적인 머신러닝과 딥러닝 강좌
                      </div>
                      <div class="course_meta">
                        <div class="rating">
                          <div class="rating_star">

                          </div>
                        </div>
                        <div class="price has-text-right is_float_right">무료</div>
                        <div class="student_num">13744명</div>
                        <div class="instructor has-text-right is_float_right">Sung Kim</div>
                      </div>
                    </div>
                  </a>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render 'categories/index' %>

<%= render 'posts/index' %>