/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.introduce {
  background-image: asset-data-url('background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;

  @media only screen and (min-width: 1150px)  {
    body {
      background-image: asset-data-url('background.jpg');
    }
  }
}

.main_search_container {
  width: 50%;
}

.main_search_btn {

}

/* 개별 css 적용*/
/*.main_search {
  text-align: center;
}*/

.carousel_image {
  padding: 10px;
}

/* 모든 input 의 placeholder 부분에 css 적용 */
input::placeholder { text-align: center; }