<!-- Start Hero Carousel -->
<section class="hero-body is-small has-carousel section">
  <div class="container">
    <!-- Start Carousel -->
    <div id="carousel-demo" class="hero-carousel">
      <div class="column">
        <figure class="image">
          <a href="https://pjhdev.com"><img src="https://cdn.inflearn.com/assets/images/main/main_curation_1.jpg" alt="웹 개발"></a>
        </figure>
      </div>

      <div class="column">
        <figure class="image">
          <a href="https://pjhdev.com:8081"><img src="https://cdn.inflearn.com/assets/images/main/main_curation_2.jpg" alt="웹 개발"></a>
        </figure>
        <!-- Slide Content -->
      </div>

      <div class="column">
        <figure class="image">
          <a href="https://pjhdev.com:8082"><img src="https://cdn.inflearn.com/assets/images/main/main_curation_3.jpg" alt="웹 개발"></a>
        </figure>
        <!-- Slide Content -->
      </div>

      <div class="column">
        <figure class="image">
          <a href="https://pjhdev.com:8083"><img src="https://cdn.inflearn.com/assets/images/main/main_curation_4.jpg" alt="웹 개발"></a>
        </figure>
        <!-- Slide Content -->
      </div>

      <div class="column">
        <figure class="image">
          <a href="https://pjhdev.com:8084"><img src="https://cdn.inflearn.com/assets/images/main/main_curation_5.jpg" alt="웹 개발"></a>
        </figure>
        <!-- Slide Content -->
      </div>
    </div>
    <!-- End Carousel -->
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 4,
        navigation: true,
        navigationSwipe: "MM/DD/YYYY",
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3000,
        pauseOnHover: true,
    });
</script>
<!-- End Hero Carousel -->